<!-- Our Team Section -->
<section class="our-team-section">
  <div class="container">
    <!-- Section Title and Description -->
    <div class="section-header">
      <h2>{{ section.settings.team_title }}</h2>
      <p>{{ section.settings.team_description }}</p>
    </div>

    <!-- Team Members -->
    <div class="team-members">
      <!-- Team Member 1 -->
      <div class="team-member">
        <div class="member-image">
          <img src="{{ section.settings.team_member_1_image | img_url: 'large' }}" alt="{{ section.settings.team_member_1_name }}">
        </div>
        <div class="member-details">
          <h3>{{ section.settings.team_member_1_name }}</h3>
          <p>{{ section.settings.team_member_1_job_title }}</p>
          <p>{{ section.settings.team_member_1_description }}</p>
          <!-- Social Icons -->
          <div class="social-icons">
            {% if section.settings.team_member_1_linkedin %}
              <a href="{{ section.settings.team_member_1_linkedin }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.0703125C0.67157 0.0703125 0 0.741883 0 1.57031V16.5703C0 17.3987 0.67157 18.0703 1.5 18.0703H16.5C17.3284 18.0703 18 17.3987 18 16.5703V1.57031C18 0.741883 17.3284 0.0703125 16.5 0.0703125H1.5ZM5.52076 4.07303C5.52639 5.02928 4.81061 5.6185 3.96123 5.61428C3.16107 5.61006 2.46357 4.97303 2.46779 4.07444C2.47201 3.22928 3.13998 2.55006 4.00764 2.56975C4.88795 2.58944 5.52639 3.23491 5.52076 4.07303ZM9.2797 6.83207H6.75971H6.7583V15.3919H9.4217V15.1922C9.4217 14.8123 9.4214 14.4323 9.4211 14.0522C9.4203 13.0384 9.4194 12.0235 9.4246 11.01C9.426 10.7639 9.4372 10.508 9.5005 10.2731C9.7381 9.39561 10.5271 8.82891 11.4074 8.96821C11.9727 9.05671 12.3467 9.38441 12.5042 9.91741C12.6013 10.2506 12.6449 10.6092 12.6491 10.9566C12.6605 12.0042 12.6589 13.0518 12.6573 14.0995C12.6567 14.4693 12.6561 14.8393 12.6561 15.2091V15.3905H15.328V15.1852C15.328 14.7332 15.3278 14.2813 15.3275 13.8294C15.327 12.6999 15.3264 11.5704 15.3294 10.4405C15.3308 9.93001 15.276 9.42661 15.1508 8.93301C14.9638 8.19891 14.5771 7.59141 13.9485 7.15271C13.5027 6.8405 13.0133 6.63941 12.4663 6.61691C12.404 6.61432 12.3412 6.61093 12.2781 6.60752C11.9984 6.5924 11.7141 6.57704 11.4467 6.63097C10.6817 6.78425 10.0096 7.13441 9.5019 7.75171C9.4429 7.82251 9.3852 7.89441 9.2991 8.00171L9.2797 8.02601V6.83207ZM2.68164 15.3947H5.33242V6.83764H2.68164V15.3947Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_1_instagram %}
              <a href="{{ section.settings.team_member_1_instagram }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.1761 0.0703125H16.9362L10.9061 6.84771L18 16.0703H12.4456L8.0951 10.4769L3.11723 16.0703H0.35544L6.80517 8.82111L0 0.0703125H5.69545L9.6279 5.18293L14.1761 0.0703125ZM13.2073 14.4457H14.7368L4.86441 1.60959H3.2232L13.2073 14.4457Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_1_facebook %}
              <a href="{{ section.settings.team_member_1_facebook }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.828125C4.03145 0.828125 0 4.85957 0 9.82812C0 14.7967 4.03145 18.8281 9 18.8281C13.9588 18.8281 18 14.7967 18 9.82812C18 4.85957 13.9588 0.828125 9 0.828125ZM14.9447 4.97672C16.0184 6.28475 16.6627 7.95392 16.6822 9.75982C16.4284 9.71102 13.8904 9.19363 11.333 9.51573C11.2744 9.38883 11.2256 9.25222 11.167 9.11553C11.0108 8.74463 10.8352 8.36392 10.6594 8.00272C13.4902 6.85092 14.7787 5.19146 14.9447 4.97672ZM9 2.15567C10.9523 2.15567 12.7386 2.88779 14.0955 4.08844C13.9588 4.28366 12.7972 5.83571 10.064 6.86065C8.8048 4.54721 7.4089 2.6535 7.1942 2.36066C7.77 2.224 8.3753 2.15567 9 2.15567ZM5.72996 2.87802C5.93494 3.15134 7.3015 5.0548 8.5803 7.31944C4.98807 8.27612 1.81562 8.25653 1.47397 8.25653C1.9718 5.87477 3.58243 3.8932 5.72996 2.87802ZM1.30803 9.83792C1.30803 9.75982 1.30803 9.68173 1.30803 9.60363C1.63991 9.61333 5.36876 9.66223 9.205 8.51033C9.4295 8.93983 9.6345 9.37912 9.8297 9.81833C9.7321 9.84762 9.6247 9.87693 9.5271 9.90623C5.56399 11.1849 3.45553 14.6795 3.27983 14.9723C2.05965 13.6155 1.30803 11.8097 1.30803 9.83792ZM9 17.5201C7.2234 17.5201 5.58352 16.9149 4.28525 15.8997C4.42191 15.6166 5.98371 12.6101 10.3178 11.0971C10.3373 11.0873 10.3471 11.0873 10.3666 11.0776C11.4501 13.8791 11.8894 16.2315 12.0065 16.9051C11.0792 17.3053 10.064 17.5201 9 17.5201ZM13.2852 16.2023C13.2072 15.7337 12.7972 13.4886 11.7917 10.7261C14.2028 10.3454 16.3113 10.9702 16.5749 11.0581C16.243 13.1958 15.013 15.0407 13.2852 16.2023Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="team-member">
        <div class="member-image">
          <img src="{{ section.settings.team_member_2_image | img_url: 'large' }}" alt="{{ section.settings.team_member_2_name }}">
        </div>
        <div class="member-details">
          <h3>{{ section.settings.team_member_2_name }}</h3>
          <p>{{ section.settings.team_member_2_job_title }}</p>
          <p>{{ section.settings.team_member_2_description }}</p>
          <!-- Social Icons -->
          <div class="social-icons">
            {% if section.settings.team_member_2_linkedin %}
              <a href="{{ section.settings.team_member_2_linkedin }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.0703125C0.67157 0.0703125 0 0.741883 0 1.57031V16.5703C0 17.3987 0.67157 18.0703 1.5 18.0703H16.5C17.3284 18.0703 18 17.3987 18 16.5703V1.57031C18 0.741883 17.3284 0.0703125 16.5 0.0703125H1.5ZM5.52076 4.07303C5.52639 5.02928 4.81061 5.6185 3.96123 5.61428C3.16107 5.61006 2.46357 4.97303 2.46779 4.07444C2.47201 3.22928 3.13998 2.55006 4.00764 2.56975C4.88795 2.58944 5.52639 3.23491 5.52076 4.07303ZM9.2797 6.83207H6.75971H6.7583V15.3919H9.4217V15.1922C9.4217 14.8123 9.4214 14.4323 9.4211 14.0522C9.4203 13.0384 9.4194 12.0235 9.4246 11.01C9.426 10.7639 9.4372 10.508 9.5005 10.2731C9.7381 9.39561 10.5271 8.82891 11.4074 8.96821C11.9727 9.05671 12.3467 9.38441 12.5042 9.91741C12.6013 10.2506 12.6449 10.6092 12.6491 10.9566C12.6605 12.0042 12.6589 13.0518 12.6573 14.0995C12.6567 14.4693 12.6561 14.8393 12.6561 15.2091V15.3905H15.328V15.1852C15.328 14.7332 15.3278 14.2813 15.3275 13.8294C15.327 12.6999 15.3264 11.5704 15.3294 10.4405C15.3308 9.93001 15.276 9.42661 15.1508 8.93301C14.9638 8.19891 14.5771 7.59141 13.9485 7.15271C13.5027 6.8405 13.0133 6.63941 12.4663 6.61691C12.404 6.61432 12.3412 6.61093 12.2781 6.60752C11.9984 6.5924 11.7141 6.57704 11.4467 6.63097C10.6817 6.78425 10.0096 7.13441 9.5019 7.75171C9.4429 7.82251 9.3852 7.89441 9.2991 8.00171L9.2797 8.02601V6.83207ZM2.68164 15.3947H5.33242V6.83764H2.68164V15.3947Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_2_instagram %}
              <a href="{{ section.settings.team_member_2_instagram }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.1761 0.0703125H16.9362L10.9061 6.84771L18 16.0703H12.4456L8.0951 10.4769L3.11723 16.0703H0.35544L6.80517 8.82111L0 0.0703125H5.69545L9.6279 5.18293L14.1761 0.0703125ZM13.2073 14.4457H14.7368L4.86441 1.60959H3.2232L13.2073 14.4457Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_2_facebook %}
              <a href="{{ section.settings.team_member_2_facebook }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.828125C4.03145 0.828125 0 4.85957 0 9.82812C0 14.7967 4.03145 18.8281 9 18.8281C13.9588 18.8281 18 14.7967 18 9.82812C18 4.85957 13.9588 0.828125 9 0.828125ZM14.9447 4.97672C16.0184 6.28475 16.6627 7.95392 16.6822 9.75982C16.4284 9.71102 13.8904 9.19363 11.333 9.51573C11.2744 9.38883 11.2256 9.25222 11.167 9.11553C11.0108 8.74463 10.8352 8.36392 10.6594 8.00272C13.4902 6.85092 14.7787 5.19146 14.9447 4.97672ZM9 2.15567C10.9523 2.15567 12.7386 2.88779 14.0955 4.08844C13.9588 4.28366 12.7972 5.83571 10.064 6.86065C8.8048 4.54721 7.4089 2.6535 7.1942 2.36066C7.77 2.224 8.3753 2.15567 9 2.15567ZM5.72996 2.87802C5.93494 3.15134 7.3015 5.0548 8.5803 7.31944C4.98807 8.27612 1.81562 8.25653 1.47397 8.25653C1.9718 5.87477 3.58243 3.8932 5.72996 2.87802ZM1.30803 9.83792C1.30803 9.75982 1.30803 9.68173 1.30803 9.60363C1.63991 9.61333 5.36876 9.66223 9.205 8.51033C9.4295 8.93983 9.6345 9.37912 9.8297 9.81833C9.7321 9.84762 9.6247 9.87693 9.5271 9.90623C5.56399 11.1849 3.45553 14.6795 3.27983 14.9723C2.05965 13.6155 1.30803 11.8097 1.30803 9.83792ZM9 17.5201C7.2234 17.5201 5.58352 16.9149 4.28525 15.8997C4.42191 15.6166 5.98371 12.6101 10.3178 11.0971C10.3373 11.0873 10.3471 11.0873 10.3666 11.0776C11.4501 13.8791 11.8894 16.2315 12.0065 16.9051C11.0792 17.3053 10.064 17.5201 9 17.5201ZM13.2852 16.2023C13.2072 15.7337 12.7972 13.4886 11.7917 10.7261C14.2028 10.3454 16.3113 10.9702 16.5749 11.0581C16.243 13.1958 15.013 15.0407 13.2852 16.2023Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="team-member">
        <div class="member-image">
          <img src="{{ section.settings.team_member_3_image | img_url: 'large' }}" alt="{{ section.settings.team_member_3_name }}">
        </div>
        <div class="member-details">
          <h3>{{ section.settings.team_member_3_name }}</h3>
          <p>{{ section.settings.team_member_3_job_title }}</p>
          <p>{{ section.settings.team_member_3_description }}</p>
          <!-- Social Icons -->
          <div class="social-icons">
            {% if section.settings.team_member_3_linkedin %}
              <a href="{{ section.settings.team_member_3_linkedin }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.0703125C0.67157 0.0703125 0 0.741883 0 1.57031V16.5703C0 17.3987 0.67157 18.0703 1.5 18.0703H16.5C17.3284 18.0703 18 17.3987 18 16.5703V1.57031C18 0.741883 17.3284 0.0703125 16.5 0.0703125H1.5ZM5.52076 4.07303C5.52639 5.02928 4.81061 5.6185 3.96123 5.61428C3.16107 5.61006 2.46357 4.97303 2.46779 4.07444C2.47201 3.22928 3.13998 2.55006 4.00764 2.56975C4.88795 2.58944 5.52639 3.23491 5.52076 4.07303ZM9.2797 6.83207H6.75971H6.7583V15.3919H9.4217V15.1922C9.4217 14.8123 9.4214 14.4323 9.4211 14.0522C9.4203 13.0384 9.4194 12.0235 9.4246 11.01C9.426 10.7639 9.4372 10.508 9.5005 10.2731C9.7381 9.39561 10.5271 8.82891 11.4074 8.96821C11.9727 9.05671 12.3467 9.38441 12.5042 9.91741C12.6013 10.2506 12.6449 10.6092 12.6491 10.9566C12.6605 12.0042 12.6589 13.0518 12.6573 14.0995C12.6567 14.4693 12.6561 14.8393 12.6561 15.2091V15.3905H15.328V15.1852C15.328 14.7332 15.3278 14.2813 15.3275 13.8294C15.327 12.6999 15.3264 11.5704 15.3294 10.4405C15.3308 9.93001 15.276 9.42661 15.1508 8.93301C14.9638 8.19891 14.5771 7.59141 13.9485 7.15271C13.5027 6.8405 13.0133 6.63941 12.4663 6.61691C12.404 6.61432 12.3412 6.61093 12.2781 6.60752C11.9984 6.5924 11.7141 6.57704 11.4467 6.63097C10.6817 6.78425 10.0096 7.13441 9.5019 7.75171C9.4429 7.82251 9.3852 7.89441 9.2991 8.00171L9.2797 8.02601V6.83207ZM2.68164 15.3947H5.33242V6.83764H2.68164V15.3947Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_3_instagram %}
              <a href="{{ section.settings.team_member_3_instagram }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.1761 0.0703125H16.9362L10.9061 6.84771L18 16.0703H12.4456L8.0951 10.4769L3.11723 16.0703H0.35544L6.80517 8.82111L0 0.0703125H5.69545L9.6279 5.18293L14.1761 0.0703125ZM13.2073 14.4457H14.7368L4.86441 1.60959H3.2232L13.2073 14.4457Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_3_facebook %}
              <a href="{{ section.settings.team_member_3_facebook }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.828125C4.03145 0.828125 0 4.85957 0 9.82812C0 14.7967 4.03145 18.8281 9 18.8281C13.9588 18.8281 18 14.7967 18 9.82812C18 4.85957 13.9588 0.828125 9 0.828125ZM14.9447 4.97672C16.0184 6.28475 16.6627 7.95392 16.6822 9.75982C16.4284 9.71102 13.8904 9.19363 11.333 9.51573C11.2744 9.38883 11.2256 9.25222 11.167 9.11553C11.0108 8.74463 10.8352 8.36392 10.6594 8.00272C13.4902 6.85092 14.7787 5.19146 14.9447 4.97672ZM9 2.15567C10.9523 2.15567 12.7386 2.88779 14.0955 4.08844C13.9588 4.28366 12.7972 5.83571 10.064 6.86065C8.8048 4.54721 7.4089 2.6535 7.1942 2.36066C7.77 2.224 8.3753 2.15567 9 2.15567ZM5.72996 2.87802C5.93494 3.15134 7.3015 5.0548 8.5803 7.31944C4.98807 8.27612 1.81562 8.25653 1.47397 8.25653C1.9718 5.87477 3.58243 3.8932 5.72996 2.87802ZM1.30803 9.83792C1.30803 9.75982 1.30803 9.68173 1.30803 9.60363C1.63991 9.61333 5.36876 9.66223 9.205 8.51033C9.4295 8.93983 9.6345 9.37912 9.8297 9.81833C9.7321 9.84762 9.6247 9.87693 9.5271 9.90623C5.56399 11.1849 3.45553 14.6795 3.27983 14.9723C2.05965 13.6155 1.30803 11.8097 1.30803 9.83792ZM9 17.5201C7.2234 17.5201 5.58352 16.9149 4.28525 15.8997C4.42191 15.6166 5.98371 12.6101 10.3178 11.0971C10.3373 11.0873 10.3471 11.0873 10.3666 11.0776C11.4501 13.8791 11.8894 16.2315 12.0065 16.9051C11.0792 17.3053 10.064 17.5201 9 17.5201ZM13.2852 16.2023C13.2072 15.7337 12.7972 13.4886 11.7917 10.7261C14.2028 10.3454 16.3113 10.9702 16.5749 11.0581C16.243 13.1958 15.013 15.0407 13.2852 16.2023Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="team-member">
        <div class="member-image">
          <img src="{{ section.settings.team_member_4_image | img_url: 'large' }}" alt="{{ section.settings.team_member_4_name }}">
        </div>
        <div class="member-details">
          <h3>{{ section.settings.team_member_4_name }}</h3>
          <p>{{ section.settings.team_member_4_job_title }}</p>
          <p>{{ section.settings.team_member_4_description }}</p>
          <!-- Social Icons -->
          <div class="social-icons">
            {% if section.settings.team_member_4_linkedin %}
              <a href="{{ section.settings.team_member_4_linkedin }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.0703125C0.67157 0.0703125 0 0.741883 0 1.57031V16.5703C0 17.3987 0.67157 18.0703 1.5 18.0703H16.5C17.3284 18.0703 18 17.3987 18 16.5703V1.57031C18 0.741883 17.3284 0.0703125 16.5 0.0703125H1.5ZM5.52076 4.07303C5.52639 5.02928 4.81061 5.6185 3.96123 5.61428C3.16107 5.61006 2.46357 4.97303 2.46779 4.07444C2.47201 3.22928 3.13998 2.55006 4.00764 2.56975C4.88795 2.58944 5.52639 3.23491 5.52076 4.07303ZM9.2797 6.83207H6.75971H6.7583V15.3919H9.4217V15.1922C9.4217 14.8123 9.4214 14.4323 9.4211 14.0522C9.4203 13.0384 9.4194 12.0235 9.4246 11.01C9.426 10.7639 9.4372 10.508 9.5005 10.2731C9.7381 9.39561 10.5271 8.82891 11.4074 8.96821C11.9727 9.05671 12.3467 9.38441 12.5042 9.91741C12.6013 10.2506 12.6449 10.6092 12.6491 10.9566C12.6605 12.0042 12.6589 13.0518 12.6573 14.0995C12.6567 14.4693 12.6561 14.8393 12.6561 15.2091V15.3905H15.328V15.1852C15.328 14.7332 15.3278 14.2813 15.3275 13.8294C15.327 12.6999 15.3264 11.5704 15.3294 10.4405C15.3308 9.93001 15.276 9.42661 15.1508 8.93301C14.9638 8.19891 14.5771 7.59141 13.9485 7.15271C13.5027 6.8405 13.0133 6.63941 12.4663 6.61691C12.404 6.61432 12.3412 6.61093 12.2781 6.60752C11.9984 6.5924 11.7141 6.57704 11.4467 6.63097C10.6817 6.78425 10.0096 7.13441 9.5019 7.75171C9.4429 7.82251 9.3852 7.89441 9.2991 8.00171L9.2797 8.02601V6.83207ZM2.68164 15.3947H5.33242V6.83764H2.68164V15.3947Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_4_instagram %}
              <a href="{{ section.settings.team_member_4_instagram }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                 <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.1761 0.0703125H16.9362L10.9061 6.84771L18 16.0703H12.4456L8.0951 10.4769L3.11723 16.0703H0.35544L6.80517 8.82111L0 0.0703125H5.69545L9.6279 5.18293L14.1761 0.0703125ZM13.2073 14.4457H14.7368L4.86441 1.60959H3.2232L13.2073 14.4457Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            {% endif %}
            {% if section.settings.team_member_4_facebook %}
              <a href="{{ section.settings.team_member_4_facebook }}" target="_blank" class="link list-social__link">
                <span class="svg-wrapper">
                  <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.828125C4.03145 0.828125 0 4.85957 0 9.82812C0 14.7967 4.03145 18.8281 9 18.8281C13.9588 18.8281 18 14.7967 18 9.82812C18 4.85957 13.9588 0.828125 9 0.828125ZM14.9447 4.97672C16.0184 6.28475 16.6627 7.95392 16.6822 9.75982C16.4284 9.71102 13.8904 9.19363 11.333 9.51573C11.2744 9.38883 11.2256 9.25222 11.167 9.11553C11.0108 8.74463 10.8352 8.36392 10.6594 8.00272C13.4902 6.85092 14.7787 5.19146 14.9447 4.97672ZM9 2.15567C10.9523 2.15567 12.7386 2.88779 14.0955 4.08844C13.9588 4.28366 12.7972 5.83571 10.064 6.86065C8.8048 4.54721 7.4089 2.6535 7.1942 2.36066C7.77 2.224 8.3753 2.15567 9 2.15567ZM5.72996 2.87802C5.93494 3.15134 7.3015 5.0548 8.5803 7.31944C4.98807 8.27612 1.81562 8.25653 1.47397 8.25653C1.9718 5.87477 3.58243 3.8932 5.72996 2.87802ZM1.30803 9.83792C1.30803 9.75982 1.30803 9.68173 1.30803 9.60363C1.63991 9.61333 5.36876 9.66223 9.205 8.51033C9.4295 8.93983 9.6345 9.37912 9.8297 9.81833C9.7321 9.84762 9.6247 9.87693 9.5271 9.90623C5.56399 11.1849 3.45553 14.6795 3.27983 14.9723C2.05965 13.6155 1.30803 11.8097 1.30803 9.83792ZM9 17.5201C7.2234 17.5201 5.58352 16.9149 4.28525 15.8997C4.42191 15.6166 5.98371 12.6101 10.3178 11.0971C10.3373 11.0873 10.3471 11.0873 10.3666 11.0776C11.4501 13.8791 11.8894 16.2315 12.0065 16.9051C11.0792 17.3053 10.064 17.5201 9 17.5201ZM13.2852 16.2023C13.2072 15.7337 12.7972 13.4886 11.7917 10.7261C14.2028 10.3454 16.3113 10.9702 16.5749 11.0581C16.243 13.1958 15.013 15.0407 13.2852 16.2023Z" fill="#0A1F44"/>
</svg>

                </span>
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.our-team-section {
  padding: 50px 50px;
}
.section-header h2 {
  font-size: 36px;
  color: #222;
  font-weight: bold;
}
.section-header p {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.team-member {
  width: calc(50% - 10px); /* Adjusts to 50% width */
  display: flex; /* Use flex to manage image and details */
  align-items: center;
}
.member-image {
  flex: 0 0 auto; /* Fixed size for the image */
  margin-right: 15px; /* Spacing between image and text */
}
.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.member-details {
  flex: 1; /* Allows the details to take the remaining space */
  text-align: left; /* Align text to the left */
}
.team-member h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}
.team-member p {
  font-size: 16px;
  color: #666;
}
.social-icons {
  margin-top: 10px;
  display: flex;
}
.social-icons a {
  margin-right: 10px; /* Spacing between icons */
  display: flex;
}
</style>


{% schema %}
{
  "name": "Our Team",
  "settings": [
    {
      "type": "text",
      "id": "team_title",
      "label": "Title",
      "default": "Our Team"
    },
    {
      "type": "textarea",
      "id": "team_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "image_picker",
      "id": "team_member_1_image",
      "label": "Team Member 1 Image"
    },
    {
      "type": "text",
      "id": "team_member_1_name",
      "label": "Team Member 1 Name",
      "default": "Full Name"
    },
    {
      "type": "text",
      "id": "team_member_1_job_title",
      "label": "Team Member 1 Job Title",
      "default": "Job Title"
    },
    {
      "type": "textarea",
      "id": "team_member_1_description",
      "label": "Team Member 1 Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "url",
      "id": "team_member_1_linkedin",
      "label": "Team Member 1 LinkedIn"
    },
    {
      "type": "url",
      "id": "team_member_1_facebook",
      "label": "Team Member 1 Twitter"
    },
    {
      "type": "url",
      "id": "team_member_1_instagram",
      "label": "Team Member 1 Dribbble"
     },
    {
      "type": "image_picker",
      "id": "team_member_2_image",
      "label": "Team Member 2 Image"
    },
    {
      "type": "text",
      "id": "team_member_2_name",
      "label": "Team Member 2 Name",
      "default": "Full Name"
    },
    {
      "type": "text",
      "id": "team_member_2_job_title",
      "label": "Team Member 2 Job Title",
      "default": "Job Title"
    },
    {
      "type": "textarea",
      "id": "team_member_2_description",
      "label": "Team Member 2 Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "url",
      "id": "team_member_2_linkedin",
      "label": "Team Member 2 LinkedIn"
    },
    {
      "type": "url",
      "id": "team_member_2_facebook",
      "label": "Team Member 2 Twitter"
    },
    {
      "type": "url",
      "id": "team_member_2_instagram",
      "label": "Team Member 1 Dribbble"
     },
    {
      "type": "image_picker",
      "id": "team_member_3_image",
      "label": "Team Member 3 Image"
    },
    {
      "type": "text",
      "id": "team_member_3_name",
      "label": "Team Member 3 Name",
      "default": "Full Name"
    },
    {
      "type": "text",
      "id": "team_member_3_job_title",
      "label": "Team Member 3 Job Title",
      "default": "Job Title"
    },
    {
      "type": "textarea",
      "id": "team_member_3_description",
      "label": "Team Member 3 Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "url",
      "id": "team_member_3_linkedin",
      "label": "Team Member 3 LinkedIn"
    },
    {
      "type": "url",
      "id": "team_member_3_facebook",
      "label": "Team Member 3 Twitter"
    },
    {
      "type": "url",
      "id": "team_member_3_instagram",
      "label": "Team Member 1 Dribbble"
     },
    {
      "type": "image_picker",
      "id": "team_member_4_image",
      "label": "Team Member 4 Image"
    },
    {
      "type": "text",
      "id": "team_member_4_name",
      "label": "Team Member 4 Name",
      "default": "Full Name"
    },
    {
      "type": "text",
      "id": "team_member_4_job_title",
      "label": "Team Member 4 Job Title",
      "default": "Job Title"
    },
    {
      "type": "textarea",
      "id": "team_member_4_description",
      "label": "Team Member 4 Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "url",
      "id": "team_member_4_linkedin",
      "label": "Team Member 4 LinkedIn"
    },
    {
      "type": "url",
      "id": "team_member_4_facebook",
      "label": "Team Member 4 Twitter"
    },
    {
      "type": "url",
      "id": "team_member_4_instagram",
      "label": "Team Member 1 Dribbble"
     },
  ]
}
{% endschema %}